.images {
    display: flex;
    gap: .4rem;
}

.spotDetails {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

.description-div {
    width: 60rem;
    overflow: hidden;
}


.firstImage img{
    width: 500px;
    height: 500px;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    
}

.allSmallImagesDiv {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: .3rem;
    
    
}

.smallImageDivRow1 {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    
    flex-wrap: nowrap;
    
    
    
    
}

.top{
    border-top-right-radius: 5%;

}
.bottom{
    border-bottom-right-radius: 5%;
}

.smallImageDivRow1 img {
    width: 246.5px;
    height:246.5px;
    
}
.smallImageDivRow2 img {
    width: 246.5px;
    height:246.5px;
    
    
}
.smallImageDivRow2 {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    
   
     
    flex-wrap: nowrap;
}

.ownerAndPriceDiv {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: space-between;
    
}

.priceAndReview {
    
    display: flex;
    flex-direction: row;
    
    
    gap: 2rem;
}

.reservationDiv {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 1rem;
    padding: 10px;
    gap: .6rem;
    box-shadow: 3px 3px 20px lightgray;
    
    

}

.reservationDiv button {
    background-color: #FF385c;
    border-radius: .4rem;
    box-shadow: 1px 1px 1px black;
    color: white;
    height: 2rem;
}

.date {
    display: flex;
    gap: .4rem;
}

.ratingsWithButton {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.reviewsStart {
    border-top: 2px solid lightgrey;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.reserve {
    width: 15rem;
}
.postButton {
    background-color: darkslategrey;
    border-radius: .4rem;
    box-shadow: 1px 1px 1px black;
    color: white;
}

.reviewUser {
    margin: 0;
    margin-top: 1rem;
}

.reviewText {
    margin: 0;
}

