.container {
    display: flex;
    flex-direction: column;
    height: 13rem;
    padding-right: 1rem;
    padding-left: 1rem;
    
   
}
.text {
    text-align: center;
    margin-bottom: 1rem;
}

.confirm {
    margin: 0;
    margin-bottom: 1rem;
    
}

.c{}

.question {
    margin-bottom: .5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    
}

.big {
    height: 3rem;
}

.d{}