.formContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    
}

.modal {
    padding: 0 .5rem .5rem .5rem;
    border: 2px solid black;
    box-shadow: 1px 1px 10px black;
}

#login {
    margin-bottom: .5rem;
    text-align: center;
}