.spotSection {
    display: flex;
    flex-direction: row;
    margin: 0 1.5rem;
    gap: 2rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding: 20px 5px;
    cursor: pointer;
}

.spotInfo {
    font-size: 14pt;
   
}

.spotSection img {
    width: 13rem;
    height: 13rem;
    border-radius: 3%;
}

.locationAndRating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.rating {
    font-size: 14pt;
    
}

.star {
    font-size: 12pt;
    position: relative;
    top: .1rem;
}

.spotPrice {
    font-weight: bold;
}


