.bookings {

}

.booking-spot-new {

}

.booking-start-date {
    color: black;

}

.booking-end-date {
    border: 1px solid black;
    color: black;

}
.A{}
.bb{}
.c{}
.d{}

.bookingsSection {
 border: 1px solid black;
 justify-content: space-between;
 gap: 1rem;
 margin: auto;
}

.card-bookings {
 background-color: aliceblue;
 border: 1px solid red;
}




