.bookings {

}

.booking-spot-new {

}

.booking-start-date {

}

.booking-end-date {

}

.bookingsSection {
 border: 1px solid black;
}

.card-bookings {
 background-color: aliceblue;
}

.edit-booking {
    color: black;
    
}

.book{

}