


.booking-start-date {
    color: black;

}

.booking-end-date {
    border: 1px solid black;
    color: black;

}
.bookingContainer {
   
}

.bookingsSection {
    
    width: 14rem;
    
 
 
 
 margin-top: 1rem;
 padding: 10px
}

.card-bookings {
}

.bookings {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bookingButton{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}







