/* TODO: Add sitewide styles */

.button {
    margin-top: .5rem;
    padding: .5rem;
    height :2rem;
    color: white;
}

.heading {
    font-size: 24pt;
    font-weight: bold;
}

.subheading {
    font-size: 18pt;
    font-weight: bold;
}

.normal {
    font-size: 14pt;
    
}

#button {
    border: none;
}

.colorInput {
    background-color: #e9f0fe;
}

.red {
    background-color: #FF385c;
    border-radius: .4rem;
    box-shadow: 1px 1px 1px black;
    color: white;
}


.red:disabled {
    
    background-color: gray;
    border-radius: .4rem;
    box-shadow: 1px 1px 1px black;
    color: white;
}
.gray{
    
    background-color: gray;
    border-radius: .4rem;
    box-shadow: 1px 1px 1px black;
    color: white;
}

.not-found {
    text-align: center;
}