/* TODO: Add sitewide styles */



.heading {
    font-size: 24pt;
    font-weight: bold;
}

.subheading {
    font-size: 18pt;
    font-weight: bold;
}

.normal {
    font-size: 14pt;
    
}

.error {
    color: #FF385c;
    padding-bottom: 1rem;
}

.colorInput {
    background-color: #e9f0fe;
}

.red {
    background-color: #FF385c;
    border-radius: .4rem;
    box-shadow: 3px 3px 3px black;
    color: white;
}
.red:disabled {
    background-color:   white;
    border-radius: .4rem;
    box-shadow: 3px 3px 3px black;
    color: gray;

}

.login-heading {
    margin: 0;
    margin-top: .1rem;
    margin-bottom: 1rem;
    padding: 0;
}


.gray {
    
    background-color: gray;
    border-radius: .4rem;
    box-shadow: 3px 3px 3px black;
    color: white;
}

.not-found {
    text-align: center;
}