.mainDiv {
    
    
    font-weight: bold;
    color: #fb5473;
    
    
}
a {
    font-weight: bolder;
    color: #FF385c;
    text-decoration: none;
}
.rainbowLogo {
    position: relative;
    top: .3rem;
    margin-right: .4rem;
    font-size: 19pt;
    color: rgb(42, 42, 248);
    
    
}