.form-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    width: 20rem;
    
}

#signup {
    margin: 0;
    margin-bottom: 1rem;
}

.signup {
    
    display: flex;
    width: 20rem;
    justify-content: flex-start;
}
.signup-button {
    width: 20rem;
    height: 3rem;
    margin-top: .5rem;
}



#modal-content {
    padding: 1rem;
    
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
}

#signup {
    padding: 0 0 0 .5rem;
    text-align: center;
}